<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NMS_IP" value="127.0.0.1"/>
    <add key="router1port" value="11000"/>
    <add key="router2port" value="11001"/>
    <add key="router3port" value="11002"/>
  </appSettings>
  <connectiontable>
    <add key="freq_in" value="127.0.0.1"/>
    <add key="port_out" value="11000"/>
    <add key="IP_out" value="11001"/>
  </connectiontable>
</configuration>